/*css*/

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: white;
    margin-top: -50px;
}

body {
        background-image: url(pic3.jpg);
        background-size: cover;
        background-attachment: fixed;   
}

.navbar-brand {
    position: relative;
    text-align: center;
    font-weight: bolder;
    float: left;
    padding: 50px;
    margin-top: 70px;
    margin-bottom: 40px;
    text-shadow: 1px 1px rgb(17, 35, 56);: 2px;
    text-emphasis-color: rgb(132, 175, 52);
    background-color: rgb(40, 81, 119);
    font-size: px;
    height: 100px;
    width: 300px;
    color: white;
    border-radius: 10px;
    box-sizing: content-box;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -50px -40px 0px -26px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, -50px -40px 0px -26px rgba(0,0,0,0);
    box-shadow: 15px 10px 10px rgb(58, 21, 21); 
    border-block-end-color: lightcoral;
     border-block-color: lightcora;
}
.apc {
    font-size: 20px;
    background: rgb(212, 191, 191);
    position: relative;
    align-content: center;
    margin-left: 300px;
    margin-top: 50px;
    text-shadow: 1px 1px rgb(17, 35, 56);: 2px;
    text-emphasis: st;
    color: rgb(68, 15, 15);
    border-radius: 10px;
    box-sizing: content-box;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -50px -40px 0px -26px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, -50px -40px 0px -26px rgba(0,0,0,0);
    box-shadow: 15px 10px 10px rgb(58, 21, 21); 
    border-block-end-color: lightcoral;
     border-block-color: lightcora;
}
h2 {
    padding: 20px;
}
.container3 {
    background: rgb(26, 36, 36);
    color: white;
    height: auto;
    margin: auto;
    padding: 20px 0px;
}

form {
    background: url(rm27-ning-17-background.jpg);
    color: blanchedalmond;
    position: relative;
    border-radius: 10px;
    text-align: start;
    font-size: 30px;
    margin-right: 300px;
    margin-left: 300px;
    padding: 90px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -50px -40px 0px -26px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, -50px -40px 0px -26px rgba(0,0,0,0);
    box-shadow: 10px 5px 5px rgb(58, 21, 21);
    box-shadow: 20px 10px 10px rgb(58, 21, 21);
    margin-top: -20px;
    border-block-end-color: lightcoral;
    border-block-color: lightcora;
}
.footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    position: fixed;
    padding: 20px;
    padding-right: 0;
    background: rgb(78, 72, 72);
    border-radius: 10px;
    align-content: center;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -50px -40px 0px -26px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, -50px -40px 0px -26px rgba(0,0,0,0);
    box-shadow: 10px 5px 5px rgb(58, 21, 21);
    box-shadow: 20px 10px 10px 20px rgb(58, 21, 21);
    border-block-end-color: lightcoral;
    border-block-color: lightcora; 
    border-radius: 10px;
}   