/*css*/

* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: white;
    margin-top: -50px;
    margin-bottom: -10px;
    border-radius: 10px;
    box-sizing: content-box;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -50px -40px 0px -26px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, -50px -40px 0px -26px rgba(0,0,0,0);
    box-shadow: 15px 10px 10px rgb(58, 21, 21); 
    border-block-end-color: lightcoral;
     border-block-color: lightcora;
}
html, body {
    background-image: url(background-2.jpg);
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}


.navbar-brand {
    text-align: center;
    font-weight: bolder;
    margin-left: 500px
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
    text-shadow: 1px 1px rgb(17, 35, 56);: 2px;
    text-emphasis-color: rgb(132, 175, 52);
    background-color: rgb(40, 81, 119);
    font-size: px;
    height: 100px;
    width: 300px;
    color: white;
    border-radius: 10px;
    box-sizing: content-box;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -50px -40px 0px -26px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, -50px -40px 0px -26px rgba(0,0,0,0);
    box-shadow: 15px 10px 10px rgb(58, 21, 21); 
    border-block-end-color: lightcoral;
     border-block-color: lightcora;
}

.apc {
    font-size: 20px;
    background: rgb(212, 191, 191);
    position: relative;
    align-content: center;
    margin-left: 300px;
    margin-top: 50px;
    text-shadow: 1px 1px rgb(17, 35, 56);: 2px;
    text-emphasis: st;
    color: rgb(68, 15, 15);
    border-radius: 10px;
    box-sizing: content-box;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -50px -40px 0px -26px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, -50px -40px 0px -26px rgba(0,0,0,0);
    box-shadow: 15px 10px 10px rgb(58, 21, 21); 
    border-block-end-color: lightcoral;
     border-block-color: lightcora;
     @media (min-width: 576px);
}

.header {
    position: relative;
    font-size: 50px;
    border-radius: 10px;
    padding: 20px;
    margin-left: 50px;
}

p {
    position: relative;
    text-align: start;
    border-radius: 10px;
    margin-right: 20px;
    padding: 20px;
    text-indent: 50px;
    letter-spacing: 2px;
    text-shadow: 1px 1px rgb(17, 35, 56);: 2px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -50px -40px 0px -26px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, -50px -40px 0px -26px rgba(0,0,0,0);
    box-shadow: 10px 5px 5px rgb(58, 21, 21);
    box-shadow: 20px 10px 10px rgb(58, 21, 21);
    font-size: 20px;
    width: 100%;
    margin: 20px;
    border-block-end-color: lightcoral;
}

.footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    position: fixed;
    padding: 20px;
    padding-right: 0;
    background: rgb(78, 72, 72);
    border-radius: 10px;
    align-content: center;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -50px -40px 0px -26px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, -50px -40px 0px -26px rgba(0,0,0,0);
    box-shadow: 10px 5px 5px rgb(58, 21, 21);
    box-shadow: 20px 10px 10px 20px rgb(58, 21, 21);
    border-block-end-color: lightcoral;
    border-block-color: lightcora; 
    border-radius: 10px;
}    
.row {
    background: rgb(189, 193, 196);
    margin-top: 40px;
    margin-left: 50px;
    border-radius: 10px;
    display: block
    color: rgb(68, 15, 15);
    border-radius: 10px;
    box-sizing: content-box;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -50px -40px 0px -26px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, -50px -40px 0px -26px rgba(0,0,0,0);
    box-shadow: 15px 10px 10px rgb(58, 21, 21); 
    border-block-end-color: lightcoral;
     border-block-color: lightcora;
}

img {
    position: relative;
    text-align: start;
    background: url();
    margin-right: 20px;
    padding: 20px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -50px -40px 0px -26px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, -50px -40px 0px -26px rgba(0,0,0,0);
    box-shadow: 10px 5px 5px rgb(58, 21, 21);
    box-shadow: 20px 10px 10px rgb(58, 21, 21);
    border-block-end-color: lightcoral;
    border-block-color: lightcora; 
    border-radius: 10px;
}

@media only screen and (max-width:980px) {
    nav {
      margin-right: 5px;
    }
  }

@media only screen and (max-width: 980px) {
    .navbar-brand,
    .row{
        margin: 980px, 768px, 640px;
    }
    .apc{
        max-width: 100%;
    }
    p{
        max-width: 75%;
    }
    img{
        width: 75%;
    }
    .footer{
        max-height: 50%;
    }
    .header{
        margin-right: 16px;
    }
}
@media only screen and (max-width: 768px) {
    .navbar-brand,
    .row{
        margin: 980px, 768px, 640px;
    }
    .apc{
        max-width: 100%;
    }
    p{
        max-width: 75%;
    }
    img{
        width: 75%;
    }
    .footer{
        max-height: 50%;
    }
    .header{
        margin-right: 16px;
    }
}
@media only screen and (max-width: 640px) {
    .navbar-brand,
    .row{
        margin: 980px, 768px, 640px;
    }
    .apc{
        max-width: 100%;
    }
    p{
        max-width: 75%;
    }
    img{
        width: 75%;
    }
    .footer{
        max-height: 50%;
    }
    .header{
        margin-right: 16px;
    }
}







